---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import MainLayouts from '../../layouts/mainLayouts.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description="test" />
        
	</head>
    <MainLayouts>
        <h1>Test2</h1>
    </MainLayouts>
	
</html>
