---
---

<div class="max-w-[360px] bg-white px-[30px] py-[20px] rounded-b-[8px] rounded-l-[8px] absolute  bottom-[22%] left-[-40%]">
    <p class="text-[14px] text-black mb-3">“FinSource solved complex financial problems that we were not able to comprehend.”</p>
    <div class="flex items-center justify-between">
        <span class="text-[14px]">- John Q, Loyal Pandas</span>
        <img src="/stars.png" alt="">
    </div>
</div>     
